@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>sdsky</title>
    <environment names="Development">
        <link href="~/css/site.css" rel="stylesheet" />
    </environment>
    <environment names="Production">
        <link href="~/min/app.min.css" rel="stylesheet" />
    </environment>
</head>
<body style="margin: 0; overflow: hidden">
    <canvas></canvas>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>

        <script src="~/app/Engine/float3x2.js"></script>
        <script src="~/app/Engine/PromiseEvent.js"></script>
        <script src="~/app/Engine/CanvasManager.js"></script>

        <script src="~/app/Engine/SimpleGameLoop.js"></script>
        <script src="~/app/Engine/TimedGameLoop.js"></script>

        <script src="~/app/Engine/RendererBase.js"></script>
        <script src="~/app/Engine/Scene.js"></script>
        
        <script src="~/app/Engine/FpsRenderer.js"></script>
        <script src="~/app/Engine/ClockRenderer.js"></script>
        <script src="~/app/Engine/AlignToWindowUtil.js"></script>
        
        <script src="~/app/app.js"></script>
    </environment>
    <environment names="Production">
        <script src="~/min/lib.min.js"></script>
        <script src="~/min/app.engine.min.js"></script>
        <script src="~/min/app.min.js"></script>
    </environment>
</body>
</html>